<p id="notice"><%= notice %></p>

<h1>Mes échanges</h1>

<h3>Échanges actifs</h3>

<table>
  <thead>
    <tr>
      <th>Actif</th>
      <th>Mon copain</th>
      <th>L'autre copain</th>
      <th>Début</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @exchanges_active.each do |exchange| %>
      <% friends = distinct_friends exchange %>
      <tr>
        <td><%= exchange.is_active? %></td>
        <td><%= link_to friends.first.first_name, friends.first %></td>
        <td><%= link_to friends.second.first_name, friends.second %></td>
        <td><%= exchange.created_at %></td>
        <td><%= link_to 'Rendre', exchanges_finish_path(id: exchange.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Échanges passés</h3>

<table>
  <thead>
    <tr>
      <th>Actif</th>
      <th>Mon copain</th>
      <th>L'autre copain</th>
      <th>Début</th>
      <th>Fin</th>
    </tr>
  </thead>

  <tbody>
    <% @exchanges_past.each do |exchange| %>
      <% friends = distinct_friends exchange %>
      <tr>
        <td><%= exchange.is_active? %></td>
        <td><%= link_to friends.first.first_name, friends.first %></td>
        <td><%= link_to friends.second.first_name, friends.second %></td>
        <td><%= exchange.created_at %></td>
        <td><%= exchange.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
