<%= form_with(model: friend, local: true) do |form| %>
  <% if friend.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(friend.errors.count, "error") %> prohibited this friend from being saved:</h2>

      <ul>
      <% friend.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :friend_first_name %>
  </div>

  <div class="field">
    <%= form.label :birthday %>
    <%= form.date_select :birthday, id: :friend_birthday %>
  </div>

  <div class="field">
    <%= form.label :is_male %>
    <%= form.check_box :is_male, id: :friend_is_male %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :friend_description %>
  </div>

  <div class="field">
    <%= form.label :city_id %>
    <%= form.text_field :city_id, id: :friend_city_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :friend_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
