<%= form_with(model: friend, local: true, multipart: true) do |form| %>
  <% if friend.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(friend.errors.count, "erreur") %> à corriger:</h2>

      <ul>
      <% friend.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :avatar, "Avatar" %>
    <%= form.file_field :avatar, id: :avatar %>
  </div>

  <% if mode == :new %>

    <div class="field">
      <%= form.label :first_name, "Prénom" %>
      <%= form.text_field :first_name, id: :friend_first_name %>
    </div>

    <div class="field">
      <%= form.label :birthday, "Date de naissance" %>
      <%= form.date_select :birthday, {
        :start_year => 13.years.ago.year,
        :end_year => 90.years.ago.year
      }, { id: :friend_birthday }
      %>
    </div>

    <div>
      <%= form.label :is_male, "Homme", value: true %>
      <%= form.radio_button :is_male, true, :checked => true, :value => true %>
    </div>

    <div>
      <%= form.label :is_male, "Femme", value: false %>
      <%= form.radio_button :is_male, false, :value => false %>
    </div>

    <div class="field">
      <%= form.label :city_id, "Ville" %>
      <%= form.select :city_id, options_for_select(City.all.map { |c| [c.name, c.id] }) %>
    </div>


    <div class="field">
      <%= form.label :tags, "Tags" %>
      <%=
        collection_check_boxes(nil, :tag_id, Tag.all, :id, :label_male) do |b|
          b.label {
            b.check_box(name: 'friend[tag_relations_attributes][][tag_id]') + ' ' + b.text
          }
        end
      %>
    </div>

  <% else %>

    <div class="field">
      <%= form.label :disabled, "Désactivé" %>
      <%= form.check_box :disabled, id: :friend_disabled %>
    </div>

  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :friend_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
