
<div class="header header-5">
  <div class="container">
    <h1>Mes annonces</h1>
    <p class="text-uppercase mt-0 mb-1">
      Vous avez ajouté <%= @friends.size %> amis,
      <%= link_to 'ajouter un autre', new_friend_path, class: 'link-clean' %>
  </div>
</div>

<div class="container mt-5">
  <%= render partial: "shared/flash", flash: flash %>

  <div class="row">
    <% @friends.each do |friend| %>
      <div class="col-md-3 mb-4">
        <%= link_to friend, class: 'link-clean' do %>
          <div class="card">
            <%= image_tag friend.avatar.url(:thumb), class: 'img-fluid' %>
            <div class="card-body">
              <h4 class="m-0 tag-text">
                <%= friend.first_name %><small class="text-muted">,
                  <% if friend.disabled? %>
                    <span class="text-danger"><%= friend.is_male ? 'désactivé' : 'désactivée' %></span>
                  <% elsif friend.available? %>
                    <span class="text-success"><%= friend.is_male ? 'actif' : 'active' %></span>
                  <% else %>
                    <span class="text-warning">en échange</span>
                  <% end %>
                </small>
              </h4>
              <% friend.tags_sorted[0...3].each do |tag| %>
                <span class="badge badge-info"><%= tag.second %>x <%= tag.first.label friend %></span>
              <% end %>
              <p class="m-0 tag-text"><%= truncate(friend.description, length: 30) %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
