
<div class="header header-5"></div>

<div class="container img-profile-container">

  <div class="img-profile-header">
    <%= link_to @friend.avatar.url(:original), target: '_blank' do %>
      <%= image_tag @friend.avatar.url(:thumb), class: 'img-profile-img img-thumbnail' %>
    <% end %>
  </div>

</div>

<div class="container text-center img-profile-content">

  <h2><%= @friend.first_name %></h2>

  <p class="mb-1">
    <em>
      <%= age @friend.birthday %> ans,
      <%= @friend.is_male ? 'homme' : 'femme' %>,
      à <%= @friend.city.name %>
    </em>
  </p>

  <p class="mb-1">
    <% if @can_exchange %>
      <button class="btn btn-primary" data-toggle="modal" data-target="#exchange-modal">
        Échanger
      </button>
    <% elsif current_user == @friend.user %>
      <%= link_to 'Modifier', edit_friend_path(@friend), class: 'btn btn-success' %>
    <% else %>
      <button class="btn btn-outline-primary" disabled>
        Indisponible
      </button>
      <% if current_user.try(:is_admin) %>
        <%= link_to 'Modifier', edit_friend_path(@friend), class: 'btn btn-success' %>
      <% end %>
    <% end %>
  </p>

  <p class="mb-1"><%= @friend.exchanges.size %> échanges à son actif</p>

  <h5 class="mt-4">À propos:</h5>
  <p>
    <%= @friend.description %>
  </p>

  <h5 class="mt-4">Tags:</h5>
  <% @friend.tags_sorted.each do |tag| %>
    <p class="m-0">
      <big><%= tag.second %></big>
      personne<%= tag.second > 1 ? "s l'ont" : " l'a" %>
      désigné<%= @friend.is_male ? '' : 'e' %>
      comme
      <span class="font-weight-bold"><%= tag.first.label(@friend).downcase %></span>
    </p>
  <% end %>

  <p class="mt-3">
    <em>Ajouté<%= @friend.is_male ? '' : 'e' %> par:</em>
    <%= @friend.user.email %>
  </p>
</div>

<% if @can_exchange %>
  <div class="modal fade" id="exchange-modal" tabindex="-1" role="dialog" aria-labelledby="exchange-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exchange-modal-label">Échanger contre..</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="row">
            <% @friends_to_exchange.each do |f| %>
              <div class="col-md-4 text-center my-1">
                <%= link_to exchanges_new_path(
                  friend_id: f.id,
                  other_id: @friend.id
                ), class: 'link-clean' do %>
                  <%= image_tag f.avatar.url(:thumb), class: 'img-thumbnail' %>
                  <%= f.first_name %>
                <% end %>
              </div>
            <% end %>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
        </div>
      </div>
    </div>
  </div>
<% end %>
