<p id="notice"><%= notice %></p>

<p>
  <strong>Prénom:</strong>
  <%= @friend.first_name %>
</p>

<p>
  <strong>Anniversaire:</strong>
  <%= @friend.birthday %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @friend.is_male ? 'Homme' : 'Femme' %>
</p>

<p>
  <strong>Description:</strong>
  <%= @friend.description %>
</p>

<p>
  <strong>Ville:</strong>
  <%= @friend.city.name %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @friend.tags_sorted.map { |x| "#{x[0].label @friend} #{x[1]}" }.join ', ' %>
</p>

<p>
  <strong>Échanges:</strong>
  <%= @friend.exchanges.size %>
</p>


<p>
  <strong>Disponible:</strong>
  <%= @friend.available? %>
</p>

<p>
  <em>Ajouté par:</em>
  <%= @friend.user.email %>
</p>

<% if @can_exchange %>
  <p>
    <strong>Échanger contre: </strong>
    <% @friends_to_exchange.each do |f| %>
      <%= link_to "#{f.first_name}", exchanges_new_path(
        friend_id: f.id,
        other_id: @friend.id
      ) %>
    <% end %>
  </p>
<% end %>

<% if current_user == @friend.user || current_user.try(:is_admin) %>
  <%= link_to 'Modifier', edit_friend_path(@friend) %> |
  <%= link_to 'Mes annonces', friends_path %> |
<% end %>

<%= link_to 'Accueil', root_path %>
