<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @friend.first_name %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @friend.birthday %>
</p>

<p>
  <strong>Is male:</strong>
  <%= @friend.is_male %>
</p>

<p>
  <strong>Description:</strong>
  <%= @friend.description %>
</p>

<p>
  <strong>City:</strong>
  <%= @friend.city %>
</p>

<p>
  <strong>User:</strong>
  <%= @friend.user %>
</p>

<%= link_to 'Edit', edit_friend_path(@friend) %> |
<%= link_to 'Back', friends_path %>
