<header>
<div class="carousel slide" data-ride="carousel">
  <div class="carousel-item active" style="background-image: url('../images/bg1.png')">
    <div class="carousel-caption d-none d-md-block">
      <h1>Vous voulez être à leur place ?</h1>
      <p class="text-uppercase">Découvrez le bon copain</p>
    </div>
  </div>
</div>
</header>

<div class="container">
<h1 class="my-4">Explorer le bon copain</h1>
<div class="row catrow">
  <div class="col-lg-3 mb-3 cat">
    <img src="img/sport.png" alt="">
    <div class="legend">
      <h3>#sportif</h3>
      <span>1029 amis ont ce tag</span>
    </div>
  </div>
  <div class="col-lg-3 mb-3 cat">
    <img src="img/creatif.png" alt="">
    <div class="legend">
      <h3>#créatif</h3>
      <span>1029 amis ont ce tag</span>
    </div>
  </div>
  <div class="col-lg-3 mb-3 cat">
    <img src="img/cook.png" alt="">
    <div class="legend">
      <h3>#cuisine</h3>
      <span>1029 amis ont ce tag</span>
    </div>
  </div>
  <div class="col-lg-3 mb-3 cat">
    <img src="img/trips.png" alt="">
    <div class="legend">
      <h3>#voyages</h3>
      <span>1029 amis ont ce tag</span>
    </div>
  </div>
</div>
<br>
<h2>Nos amis du moment</h2>
<div class="row catrow">
  <% @most_traded.limit(8).each do |friend| %>
    <div class="col-lg-3 mb-3 friend">
      <img src="img/friend.png" alt="">
      <div class="legend">
        <span>PICARDIE - SOMME (80) </span>
        <h4><%= friend.first_name %></h4>
        <small class="text-muted">#créatif #sportif #drôle</small>
        <p class="card-text"><%= friend.exchanges_count %></p>
        <p class="card-text">
          <%= link_to 'Voir', friend %>
        </p>
      </div>
    </div>
  <% end %>
</div>
</div>
<br>
<footer class="py-5 bg-dark">
<div class="container"></div>
</footer>

<hr>

<h2>Search</h2>

<%# search_post %>
<%= form_tag(search_post_path) do %>
  <%=
    collection_check_boxes(nil, :tags, Tag.all, :id, :label_male) do |b|
      b.label { b.check_box + ' ' + b.text }
    end
  %>
  <br>
  <%=
    collection_radio_buttons(nil, :city, City.all, :id, :name, {}, { required: true }) do |b|
      b.label { b.radio_button + ' ' + b.text }
    end
  %>
  <%= submit_tag("Search") %>
<% end %>

<hr>

<h2>Best tags by city</h2>

<% @tags_by_city.each do |tag| %>
  <%= link_to "#{tag.label_male} (#{tag.count}) - #{tag.city_name}", search_get_path(
    city_name: tag.city_name.parameterize, city: tag.city_id,
    tag_name: tag.label_male.parameterize, tag: tag.id
  ) %>
<% end %>

<hr>

<h2>Most traded</h2>
