<header>
<div class="carousel slide" data-ride="carousel">
  <div class="carousel-item active" style="background-image: url('../images/bg1.png')">
    <div class="carousel-caption d-none d-md-block">
      <h1>Vous voulez être à leur place ?</h1>
      <p class="text-uppercase">Découvrez le bon copain</p>
    </div>
  </div>
</div>
</header>

<div class="container">
<h1 class="my-4">Explorer le bon copain</h1>
<div class="row catrow">
  <% @tags_by_city.each do |tag| %>
    <div class="col-lg-3 mb-3 cat">
      <img src="img/sport.png" alt="">
      <div class="legend">
        <h3>
          <%= link_to "##{tag.label_male}", search_get_path(
            city_name: tag.city_name.parameterize, city: tag.city_id,
            tag_name: tag.label_male.parameterize, tag: tag.id
          ) %>
        </h3>
        <span><%= "#{tag.count}" %> amis ont ce tag</span>
      </div>
    </div>
  <% end %>
</div>
<br>
<h2>Nos amis du moment</h2>
<div class="row catrow">
  <% @most_traded.limit(8).each do |friend| %>
    <div class="col-lg-3 mb-3 friend">
      <img class="img-fluid" src="https://i.imgur.com/5Jou7gE.jpg" alt="">
      <div class="legend">
        <div>PICARDIE - SOMME (80)</div>
        <h4><%= friend.first_name %></h4>
        <small class="text-muted">#créatif #sportif #drôle</small>
        <p class="card-text"><%= friend.exchanges_count %> échanges</p>
        <p class="card-text">
          <%= link_to 'Voir', friend %>
        </p>
      </div>
    </div>
  <% end %>
</div>
</div>
<br>
<footer class="py-5 bg-dark">
<div class="container"></div>
</footer>