<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>

<hr>

<h2>Search</h2>

<%# search_post %>
<%= form_tag(search_post_path) do %>
  <%=
    collection_check_boxes(nil, :tags, Tag.all, :id, :label_male) do |b|
      b.label { b.check_box + ' ' + b.text }
    end
  %>
  <br>
  <%=
    collection_radio_buttons(nil, :city, City.all, :id, :name, {}, { required: true }) do |b|
      b.label { b.radio_button + ' ' + b.text }
    end
  %>
  <%= submit_tag("Search") %>
<% end %>

<hr>

<h2>Best tags by city</h2>

<% @tags_by_city.each do |tag| %>
  <%= link_to "#{tag.label_male} (#{tag.count}) - #{tag.city_name}", search_get_path(
    city_name: tag.city_name.parameterize, city: tag.city_id,
    tag_name: tag.label_male.parameterize, tag: tag.id
  ) %>
<% end %>

<hr>

<h2>Most traded</h2>

<% @most_traded.limit(20).each do |friend| %>
  <p>
    <%= friend.first_name %>,
    <%= friend.exchanges_count %>,
    <td><%= link_to 'Show', friend %></td>
  </p>
<% end %>
