<p id="notice"><%= notice %></p>

<p>
  <strong>Label male:</strong>
  <%= @tag.label_male %>
</p>

<p>
  <strong>Label female:</strong>
  <%= @tag.label_female %>
</p>

<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
