<!DOCTYPE html>
<html>
  <head>
    <title>LeBonCopain</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="type-<%= @type %>">
    <%= render partial: "shared/navbar" %>

    <%= render partial: "shared/flash", flash: flash %>

    <% if @type == :devise %>
      <%= render partial: "layouts/devise" %>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
