<!DOCTYPE html>
<html>
  <head>
    <title>LeBonCopain</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <%= stylesheet_link_tag "style" %>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">leboncopain</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Accueil
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Ajout d'un copain</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Offres</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Demandes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Meilleurs copains</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button type="button" class="btn btn-secondary" style="margin-right:.5rem;" data-toggle="modal" data-target="#searchModal">Rechercher</button>
      <% unless user_signed_in? %>
        <button class="btn btn-secondary" style="margin-right:.5rem;" type="button">
          <%= link_to 'Inscription', new_user_registration_path %>
        </button>
        <button class="btn btn-secondary" style="margin-right:.5rem;" type="button">
          <%= link_to 'Identification', new_user_session_path %>
        </button>
      <% else %>
        <button class="btn btn-secondary" style="margin-right:.5rem;" type="button">
          <%= link_to 'Mon Compte', edit_user_registration_path %>
        </button>
        <button class="btn btn-secondary" style="margin-right:.5rem;" type="button">
          <%= link_to 'Déconnexion', destroy_user_session_path, method: :delete %>
        </button>
      <% end %>
    </form>
  </div>
</nav>
<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <%= form_tag(search_post_path) do %>
        <p class="h6">TAGS DU MOMENT</p>
          <div class="container searchTags">
            <%=
              collection_check_boxes(nil, :tags, Tag.all, :id, :label_male) do |b|
                b.label { b.check_box + ' ' + b.text }
              end
            %>
          </div>
          <br>
          <p class="h6">VILLES DU MOMENT</p>
          <div class="container searchTags">
            <%=
              collection_radio_buttons(nil, :city, City.all, :id, :name, {}, { required: true }) do |b|
                b.label { b.radio_button + ' ' + b.text }
              end
            %>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <%= submit_tag "Rechercher", { class: "btn btn-primary" } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
    <%= yield %>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>
